@page
@model IndexModel

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>JAWS</title>
    <!-- Font by Microsoft (https://github.com/microsoft/cascadia-code), licensed under the SIL Open Font License, Version 1.1. License: /LICENSE-3RD-PARTY.txt -->
    <link rel="preload" href="fonts/CascadiaCode.woff2" as="font" type="font/woff" crossorigin />
    <!-- Icon by Twitter Twemoji (https://github.com/twitter/twemoji), licensed under CC-BY 4.0. License: /LICENSE-3RD-PARTY.txt -->
    <link rel="shortcut icon" id="favicon" href="~/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="~/lib/vendor.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>

<body>
    <div id="terminal"></div>
    <script src="~/lib/vendor.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</body>

</html>