services:
  chall:
    build: src
    restart: unless-stopped
    init: true
    privileged: true
    ports:
      - '47020:1337'
    volumes:
      - './src/printer:/home/user/printer:ro'
      - './src/server.py:/home/user/chall:ro'
    environment:
      - "FLAG=ECSC{w4it_u_w3ren'7_supp0sed_t0_use_1t_[random 8]}"
      - 'FLAG_IN_ENV=true'
      - 'TEMPDIRS=/tmp:/home/user/.config'
      - 'LOG_STDERR=true'
