<%- include('header') %>

    <p class="my-3">
        Hi, welcome on our website.
        <br>
        Unfortunately, we need to make sure that you are a human.
        <br><br>
        In alternative, you can pay a small fee to access the content. Your  choice.
        <br>
        You only need to do this once!
    </p>

    <br>

    <a id="verify" href="/captcha" class="btn btn-primary">I'm human</a>
    <a id="pay" href="pay" class="btn btn-primary">Pay</a>

<%- include('footer') %>
